.projectsContainer {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.projectsBlock{
    display: flex;
    flex-direction: row;
    background-color: #47d2c8;
    min-height: 50vh;
    width: 100%;
    align-items: center;
}

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title{
    background-color: silver;;
}