.footerBlock{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

.footerContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.square{
    width: 40px;
    height: 40px;
    background-color: silver;
}

.squares{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    justify-content: space-between;
    width: 200px;
    flex-wrap: wrap;
}